body{
  overflow: hidden;
  animation-name: show-content;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@keyframes show-content {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: visible;
  }
}
.landingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    animation-name: remove;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.landingHeadDiv {
    display: flex;
    justify-content: center;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 8;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    position: relative;
    bottom: 30px;
    border-bottom: 1px solid #000;
    background-color: lightgray;
}

@keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
.landingBulb {
    position: relative;
    z-index: 999;
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    animation: flicker 1s ease-in-out infinite;
    text-align: center;
}
.landingBulb > img {
    height: 450px;

}

.landingMessageDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 4;
    grid-column-start: 3;
    grid-column-end: 6;
}
.landingMessage {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .landingHeadDiv{
    height: 150px;
    font-size: 32px;
  }
  .landingBulb>img{
    height: 350px;
  }
  .landingMessageDiv{
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .landingMessage{
    font-size: 42px;
  }
}