@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000a19;
  overflow: hidden;
}

.background span {
  width: 16vmin;
  height: 16vmin;
  border-radius: 16vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 39;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #adfff1;
  top: 24%;
  left: 78%;
  animation-duration: 60s;
  animation-delay: -3s;
  transform-origin: 17vw -5vh;
  box-shadow: 32vmin 0 4.219037119996909vmin currentColor;
}
.background span:nth-child(1) {
  color: #4b15a8;
  top: 74%;
  left: 24%;
  animation-duration: 65s;
  animation-delay: -11s;
  transform-origin: 7vw -19vh;
  box-shadow: 32vmin 0 4.863052773871972vmin currentColor;
}
.background span:nth-child(2) {
  color: #adfff1;
  top: 69%;
  left: 28%;
  animation-duration: 100s;
  animation-delay: -70s;
  transform-origin: -3vw 7vh;
  box-shadow: 32vmin 0 4.632905399797972vmin currentColor;
}
.background span:nth-child(3) {
  color: #adfff1;
  top: 61%;
  left: 81%;
  animation-duration: 86s;
  animation-delay: -41s;
  transform-origin: -6vw -4vh;
  box-shadow: -32vmin 0 4.084469333376213vmin currentColor;
}
.background span:nth-child(4) {
  color: #adfff1;
  top: 65%;
  left: 94%;
  animation-duration: 103s;
  animation-delay: -18s;
  transform-origin: 1vw 25vh;
  box-shadow: 32vmin 0 4.116642162296289vmin currentColor;
}
.background span:nth-child(5) {
  color: #770808;
  top: 42%;
  left: 15%;
  animation-duration: 38s;
  animation-delay: -100s;
  transform-origin: 22vw 8vh;
  box-shadow: -32vmin 0 4.362577329990216vmin currentColor;
}
.background span:nth-child(6) {
  color: #4b15a8;
  top: 21%;
  left: 23%;
  animation-duration: 110s;
  animation-delay: -64s;
  transform-origin: 2vw 18vh;
  box-shadow: -32vmin 0 4.781379652364354vmin currentColor;
}
.background span:nth-child(7) {
  color: #770808;
  top: 65%;
  left: 6%;
  animation-duration: 6s;
  animation-delay: -54s;
  transform-origin: -5vw 6vh;
  box-shadow: -32vmin 0 4.01878487948156vmin currentColor;
}
.background span:nth-child(8) {
  color: #4b15a8;
  top: 41%;
  left: 98%;
  animation-duration: 44s;
  animation-delay: -88s;
  transform-origin: 8vw 9vh;
  box-shadow: -32vmin 0 4.339564605458853vmin currentColor;
}
.background span:nth-child(9) {
  color: #adfff1;
  top: 56%;
  left: 79%;
  animation-duration: 53s;
  animation-delay: -15s;
  transform-origin: -2vw 14vh;
  box-shadow: 32vmin 0 4.145706484930386vmin currentColor;
}
.background span:nth-child(10) {
  color: #4b15a8;
  top: 42%;
  left: 10%;
  animation-duration: 78s;
  animation-delay: -32s;
  transform-origin: 20vw 12vh;
  box-shadow: -32vmin 0 4.225014495725411vmin currentColor;
}
.background span:nth-child(11) {
  color: #adfff1;
  top: 5%;
  left: 84%;
  animation-duration: 78s;
  animation-delay: -71s;
  transform-origin: -12vw -3vh;
  box-shadow: -32vmin 0 4.673346518313925vmin currentColor;
}
.background span:nth-child(12) {
  color: #770808;
  top: 11%;
  left: 44%;
  animation-duration: 50s;
  animation-delay: -24s;
  transform-origin: 2vw -20vh;
  box-shadow: -32vmin 0 4.2251612732411505vmin currentColor;
}
.background span:nth-child(13) {
  color: #adfff1;
  top: 78%;
  left: 4%;
  animation-duration: 14s;
  animation-delay: -69s;
  transform-origin: 5vw 0vh;
  box-shadow: 32vmin 0 4.36753412630507vmin currentColor;
}
.background span:nth-child(14) {
  color: #4b15a8;
  top: 28%;
  left: 64%;
  animation-duration: 97s;
  animation-delay: -22s;
  transform-origin: -20vw -15vh;
  box-shadow: 32vmin 0 4.512381988479035vmin currentColor;
}
.background span:nth-child(15) {
  color: #770808;
  top: 94%;
  left: 67%;
  animation-duration: 17s;
  animation-delay: -70s;
  transform-origin: 24vw -22vh;
  box-shadow: 32vmin 0 4.885907538954425vmin currentColor;
}
.background span:nth-child(16) {
  color: #adfff1;
  top: 71%;
  left: 33%;
  animation-duration: 56s;
  animation-delay: -24s;
  transform-origin: -16vw -18vh;
  box-shadow: -32vmin 0 4.081503048898985vmin currentColor;
}
.background span:nth-child(17) {
  color: #4b15a8;
  top: 94%;
  left: 21%;
  animation-duration: 80s;
  animation-delay: -71s;
  transform-origin: -21vw 23vh;
  box-shadow: 32vmin 0 4.772380965515741vmin currentColor;
}
.background span:nth-child(18) {
  color: #adfff1;
  top: 52%;
  left: 83%;
  animation-duration: 22s;
  animation-delay: -16s;
  transform-origin: -5vw 1vh;
  box-shadow: 32vmin 0 4.137521359798532vmin currentColor;
}
.background span:nth-child(19) {
  color: #4b15a8;
  top: 73%;
  left: 35%;
  animation-duration: 93s;
  animation-delay: -14s;
  transform-origin: -21vw 11vh;
  box-shadow: 32vmin 0 4.300318231708562vmin currentColor;
}




.landingContainer{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M1440 0L877.35 0L1440 2.59z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M877.35 0L1440 2.59L1440 299.08L539.31 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M539.31 0L1440 299.08L1440 418.52L322.3299999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M322.3299999999999 0L1440 418.52L1440 468.45L258.8599999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L510.44 560L0 432.2z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 432.2L510.44 560L693.41 560L0 333.33z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 333.33L693.41 560L970.48 560L0 242.65999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 242.65999999999997L970.48 560L978.86 560L0 76.22999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}
.landingContainer>section{
    border: 2px solid black;
}
.landingItem1,
.landingItem2,
.landingItem3,
.landingItem4,
.landingItem5 {
    padding: 20px;
    background-color: wheat;
    /* margin-left: 25px;
    margin-right: 25px; */
    margin: 10px;
}
.landingItem1{
    margin: 20px auto;
    width: 50vw;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.landingItem2{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.landingItem3{
  grid-row: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  
}
.landingItem4{
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.landingItem5{
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}




@media (max-width: 768px) {
    .landingContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr;
    }

    .landingItem2,
    .landingItem3,
    .landingItem4,
    .landingItem5 {
        grid-column-start: 1;
        grid-column-end: 3;

}
  
    .landingItem1 {
        width: 90%;
      grid-row: 1;
      grid-column: -1 / 1;
      background-color: white;
    }
  
    .landingItem2 {
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

.support{
    margin-bottom: 100px;
}

